footer {
  background-color: white;
  height: 10vh;
  padding-top: 3vh; }

.icono {
  width: 30px;
  height: 30px; }

.seccion__principal {
  height: 90vh;
  padding-top: 80px;
  padding-bottom: 50px;
  margin: 0px;
  background-image: url(../assets/images/imagenFondo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65% 100%; }

.tituloIndex {
  padding-top: 20px;
  color: white;
  font-size: 40px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  animation-name: home-animation;
  animation-duration: 0.7s; }

@keyframes home-animation {
  from {
    transform: translate(-400px, -200px); }
  to {
    transform: translate(0px, -200px); } }

@media (max-width: 992px) {
  .seccion__principal {
    background-size: 80% 75%; } }

@media (max-width: 600px) {
  .seccion__principal {
    background-size: 95% 55%; } }

footer {
  background-color: white;
  height: 10vh;
  padding-top: 3vh; }

.icono {
  width: 30px;
  height: 30px; }

.seccion__nosotros {
  padding-top: 80px;
  padding-bottom: 20px;
  margin-bottom: 15px;
  background-image: url(../assets/icons/IconoVixion.jpeg);
  background-size: 4% 4%; }

.card {
  padding-top: 5px;
  width: 50vw;
  height: 55vh;
  border-color: white;
  border-width: 2px;
  font-size: 20px;
  font-weight: lighter;
  align-items: center;
  background-color: black;
  color: white; }

.card-img-top {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-color: white;
  border-width: 8px;
  width: 50%;
  height: 70%; }

@media (max-width: 1093px) {
  .seccion__nosotros {
    background-size: 7% 7%; }
  .card {
    font-size: 15px;
    width: 65vw; }
  .card-img-top {
    width: 75%;
    height: 70%; } }

@media (max-width: 500px) {
  .seccion__nosotros {
    background-size: 50% 50%; }
  .card {
    font-size: 15px;
    width: 90vw; }
  .card-img-top {
    width: 90%;
    height: 70%; } }

footer {
  background-color: white;
  height: 10vh;
  padding-top: 3vh; }

.icono {
  width: 30px;
  height: 30px; }

.seccion__servicios {
  padding-top: 80px;
  padding-bottom: 20px;
  margin-bottom: 15px;
  background-image: url(../assets/icons/IconoVixion.jpeg);
  background-size: 4% 4%; }

.tarjetas_servicios {
  width: 55vw;
  height: 60vh;
  border-color: white;
  border-width: 2px;
  font-size: 18px;
  font-weight: lighter;
  align-items: center;
  background-color: black;
  color: white; }

.imagen_card {
  margin-top: 45px;
  border-radius: 25px;
  border-color: white;
  border-width: 2px;
  border-style: groove; }

.imagen_ilustrativa {
  width: 25vw;
  height: 32vh;
  border-radius: 15px;
  margin-bottom: 80px; }

@media (max-width: 1093px) {
  .seccion__servicios {
    background-size: 8% 8%; }
  .tarjetas_servicios {
    font-size: 20px;
    width: 85vw; } }

@media (max-width: 600px) {
  .tarjetas_servicios {
    font-size: 18px; } }

footer {
  background-color: white;
  height: 10vh;
  padding-top: 3vh; }

.icono {
  width: 30px;
  height: 30px; }

.seccion_galeria {
  margin-top: 80px;
  width: 100vw;
  height: 125vh;
  background-image: url(../assets/icons/IconoVixion.jpeg);
  background-size: 4% 6%; }

.tarjeta_galeria {
  width: 100vw;
  height: 120vh;
  display: flex;
  gap: 5px;
  padding: .4em;
  background-color: transparent;
  border-color: transparent; }

.tarjeta_galeria p {
  height: 80%;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2px;
  transition: all .5s;
  background: black;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center; }

.tarjeta_galeria p:hover {
  flex: 4; }

.tarjeta_galeria p span {
  width: 50vw;
  padding: .5em;
  text-align: center;
  transition: all .5s;
  text-transform: uppercase;
  color: #ff568e;
  letter-spacing: .1em; }

.tarjeta_galeria p:hover span {
  transform: rotate(0); }

@media (max-width: 992px) {
  .tarjeta_galeria {
    width: 100vw; }
  .tarjeta_galeria p span {
    width: 80vw; }
  .imagen_galeria {
    width: 95%;
    height: 95%; }
  .iframe {
    width: 90%;
    height: 65%; } }

footer {
  background-color: white;
  height: 10vh;
  padding-top: 3vh; }

.icono {
  width: 30px;
  height: 30px; }

.seccion__contacto {
  margin-top: 10vh;
  height: 80vh;
  background-image: url(../assets/images/Img4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60% 100%; }

.form {
  margin-top: 15vh;
  padding: 15px;
  width: 30vw;
  height: 45vh;
  font-size: 25px;
  background-color: rgba(255, 255, 255, 0.685);
  opacity: 135%;
  border-radius: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.btn {
  background-color: black;
  border-color: black; }

@media (max-width: 1070px) {
  .seccion__contacto {
    background-size: 80% 100%; }
  .form {
    width: 60vw;
    height: 45vh;
    font-size: 15px; }
  .icono {
    width: 18px;
    height: 18px; } }

@media (max-width: 400px) {
  .seccion__contacto {
    background-size: 95% 85%; }
  .form {
    width: 80vw;
    height: 45vh; }
  .icono {
    width: 18px;
    height: 18px; }
  .btn {
    width: 60px;
    height: 40px;
    font-size: 10px; } }

* {
  margin: 0;
  padding: 0; }

/* Nav-bar Style para todas las paginas*/
.nav-center {
  display: flex;
  justify-content: center; }

.nav-item {
  font-size: 25px; }

.nav-item:hover {
  transform: scale(1.1); }

.nav-link {
  color: white; }

.nav_index {
  color: black; }

.icono_Vixion {
  border-radius: 25px;
  width: 50px;
  height: 50px; }

.icono_Vixion:hover {
  transform: scale(1.1);
  border-radius: 25px; }

@media (max-width: 992px) {
  .nav-link {
    font-size: 15px; } }
