@import"./particiones/variables";
@import"./particiones/header";
@import"./particiones/main";
@import "./particiones/footer";

.redessociales {
    background-color: white;
    width: 150px;
    height: 65px;
    border-radius: 15px;
    align-items: center;
}
  
.fuenteContacto {
    font-size: 25px;
    margin-top: 45px; 
}

@media (max-width: 600px) {
    .seccioncontenido_grande {
        height: 65vh;
        
    }

    .redessociales {
        background-color: white;
        width: 80px;
        height: 35px;
        border-radius: 15px;
        transform: translateX(50px); }
    .fuenteContacto {
        font-size: 15px;
        margin-top: 15px; }
}