@import"./particiones/variables";
@import"./particiones/header";
@import"./particiones/main";
@import "./particiones/footer";

.seccioncontenido_grande{
    align-items: center;
}


.redessociales {
    background-color: white;
    width: 170px;
    height: 65px;
    border-radius: 15px;
}
  
.fuenteContacto {
    font-size: 25px;
    margin-top: 45px;
}

@media (max-width: 600px) {
    .seccioncontenido_grande {
        height: 65vh;
        
    }

    .redessociales {
        background-color: white;
        width: 100px;
        height: 25px;
    }
    
    .icono{
        height: 18px;
        width: 18px;
    }

    .fuenteContacto {
        font-size: 15px;
        margin-top: 15px; }
}