@import"./particiones/variables";
@import"./particiones/mixins";
@import"./particiones/header";
@import"./particiones/main";
@import "./particiones/footer";

.moverimagen{
    height:45vh;
    align-items: center;
    padding: 0px;
    margin: 0px;
    border-radius: 25px;
}

@media (max-width: 992px) {
    .moverimagen {
        align-items: center;
        @include size(60%, 60%); 
        margin: 0px;
        padding: 0px;
        
    }
    iframe {
        @include size(50vw, 20vh);
        margin-top: 15px; }

}