@import"./particiones/variables";
@import"./particiones/mixins";
@import"./particiones/header";
@import"./particiones/main";
@import "./particiones/footer";

// .mititulo {
//     height: 25vh;
//     font-size: 125px;
//     font-family:'Times New Roman', Times, serif;
//     animation-name: efecto;
//     animation-duration: 3s;
//     animation-timing-function: ease-in;
//     animation-fill-mode: forwards;
// }  

// @keyframes efecto {
//     0% {
//       font-size: 50px;
//       background: linear-gradient(90deg, #98d7f6 0%, #00eaff 35%, #a1a1bd 100%);
//       -webkit-text-fill-color: transparent;
//       -webkit-background-clip: text;
//       background-clip: text; }
//     50% {
//       font-size: 80px;
//       background: linear-gradient(90deg, #00eaff 0%, #a1a1bd 35%, #98d7f6 100%);
//       -webkit-text-fill-color: transparent;
//       -webkit-background-clip: text;
//       background-clip: text; }
//     100% {
//       font-size: 120px;
//       background: linear-gradient(90deg, #ffffff 0%, #ffffff 35%, #ffffff 100%);
//       -webkit-text-fill-color: transparent;
//       -webkit-background-clip: text;
//       background-clip:text; } 
// }
  

    
@media (max-width: 992px) {
  // .tituloPaginas {
  //   padding-top: 15px;
  //   background: #020024;
  //   background: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
  //   -webkit-text-fill-color: transparent;
  //   -webkit-background-clip: text;
  //   background-clip: text;
  //   font-family: Georgia, 'Times New Roman', Times, serif;
  //   font-size: 20px; }
  .seccionTitulo {
    padding: 0px;
    border-style: $border-style;
    border-radius: 25px; }
  // @keyframes efecto {
  //   0% {
  //     font-size: 5px;
  //     background: linear-gradient(90deg, #98d7f6 0%, #00eaff 35%, #a1a1bd 100%);
  //     -webkit-text-fill-color: transparent;
  //     -webkit-background-clip: text;
  //     background-clip: text; }
  //   50% {
  //     font-size: 15px;
  //     background: linear-gradient(90deg, #00eaff 0%, #a1a1bd 35%, #98d7f6 100%);
  //     -webkit-text-fill-color: transparent;
  //     -webkit-background-clip: text;
  //     background-clip: text; }
  //   100% {
  //     font-size: 30px;
  //     background: linear-gradient(90deg, #a1a1bd 0%, #98d7f6 35%, #00eaff 100%);
  //     -webkit-text-fill-color: transparent;
  //     -webkit-background-clip: text;
  //     background-clip: text; } }

      .imagenFondo{
        padding-top: 20vh;
        width: 90vw;
        height: 70vh;
      }
 
}
