@import"./particiones/variables";
@import"./particiones/header";
@import"./particiones/main";
@import "./particiones/footer";

.seccioncontenido {
    margin-left: 100px;
    height: 40vh;
    padding: 60px;
    color: white;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    border-color: white;
    border-style: groove;
    border-radius: 10px;
    transform: translateY(15px);
    background: #001324;
    background: radial-gradient(circle, #001324 0%, rgba(3, 50, 96, 0) 46%, rgba(0, 65, 110, 0.916404) 82%); 
}

.iconovixion {
    border-color: white;
    border-style: groove;
    border-radius: 15px;
    transform: translateY(50px);
    animation-name: efecto_segundo;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards; 
}
  
@keyframes efecto_segundo {
    0% {
      height: 0vh;
      width: 0vw; }
    100% {
      height: 12vh;
      width: 7vw; } 
}

@media (max-width: 600px) {
      .seccioncontenido {
        margin: 0px;
        font-size: 20px;
        padding: 0px; }
      .iconovixion {
        animation-name: efecto_segundo;
        animation-duration: 2s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards; }
      @keyframes efecto_segundo {
        0% {
          height: 0vh;
          width: 0vw; }
        100% {
          height: 8vh;
          width: 14vw; } }
}