@import"./particiones/variables";
@import"./particiones/mixins";
@import"./particiones/header";
@import"./particiones/main";
@import "./particiones/footer";


.card{
  border-color: transparent;
  font-style: italic;
  font-size: 20px;
}