@import"./particiones/variables";
@import"./particiones/mixins";
@import"./particiones/header";
@import"./particiones/main";
@import"./particiones/footer";

.seccion__servicios{
    height: 100vh;
    padding-top: 80px;
}

.carousel {
    height: 30vh;
    width: 70vw;
    border-radius: 25px;
    border-left: 10px;
    border-right: 10px;
    border-color: black;
    border-style: groove;
}

.imagen_banner{
    height: 29.5vh;
    width: 70%;

}

#boton_carrusel{
    background-color: black;
}

.imagen_card{
    padding-top: 15px;
    border-radius: 45px;
}

.imagen_ilustrativa{
    width: 18vw;
    height: 25vh;
    border-radius: 15px;
    padding-bottom: 5px;
}