@import"./particiones/variables";
@import"./particiones/mixins";
@import"./particiones/header";
@import"./particiones/main";
@import"./particiones/footer";

.seccion__servicios{
    height: 100vh;
    padding-top: 80px;
}

.carousel {
    height: 30vh;
    width: 70vw;
    border-radius: 25px;
    border-color: black;
    border-style: groove;
}

.imagen_banner{
    height: 29.5vh;
    width: 70%;

}

.carousel-control-prev-icon{
    color: black;
}



@media (max-width: 992px) {
    .carousel {
        height: 45vh; }
    .carousel-inner {
        transform: translateY(140px);
        color: white; }
    .form {
        @include size(50vw, 40vh); }
    
    
}