@import"./particiones/variables";
@import"./particiones/mixins";
@import"./particiones/header";
@import"./particiones/footer";

.seccion__servicios{
    padding-top: 80px;
    padding-bottom: 20px;
    margin-bottom: 15px;
    background-image: url(../assets/icons/IconoVixion.jpeg);
    background-size: 4% 4%;
}

.tarjetas_servicios{
    @include size(50vw, 65vh);
    border-color: white;
    border-width: 2px;
    font-size: 18px;
    font-weight: lighter;
    align-items: center;
    background-color: black;
    color: white;
    
}
 
.imagen_card{
    margin-top: 45px;
    border-radius: 25px;
    border-color: white;
    border-width: 2px;
    border-style: $border-style;
}

.imagen_ilustrativa{
    @include size(50%, 50%);
    border-radius: 15px;
    margin-bottom: 80px;
}

.marcaAgua{
  color: $color-blanco !important;
}

@media (max-width: 1093px) {
    .seccion__servicios{
      background-size: 8% 8%;
    }
  
    .tarjetas_servicios{
      font-size: 20px;
      width: 85vw;
    }

  }

  @media (max-width: 600px) {
  
    .tarjetas_servicios{
      font-size: 18px;
    }

  }