.seccion__principal {
    height: 105vh;
    padding-top: 80px;
    padding-bottom: 50px;
    margin: 0px;
}


.seccionsubtitulo {
    margin-left: 100px;
    color: $color-blanco;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    border-color: $color-blanco;
    border-style: $border-style;
    border-radius: 15px;
    transform: translateY(10px);
    background: #001324;
    background: radial-gradient(circle, #001324 0%, rgba(3, 50, 96, 0) 46%, rgba(78, 72, 6, 0.916) 82%); 
}

@media (max-width: 992px) {
    .seccion__principal{
      padding: 0px;
      height: 90vh;
    }
    .seccionsubtitulo {
      margin: 0px;
      font-size: 20px; }
  
}