*{
    margin:0px;
    padding: 0px;
    
}


#margin-0 {
    margin: 0px;
}

.index__principal{
    background-color: black;
    height: 80vh;
    padding: 20vh 0vh 0vh 0vh;
    
}

.header{
    height: 10vh;
   

}

.titulo{
    color: blue;
}

.subtitulo{
    color: brown;

}
/* Nav-bar Style */
.nav-center {
    display: flex;
    justify-content: center;
}
.nav-item {
    font-size: 30px;
}

footer{
    padding-top: 20px;
}
.icono{
    width: 30px;
    height: 30px;
}